/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
    font-family: "Verdana", Arial, serif;
}

a:link {
    color: #00f;
    text-decoration: none;
}

a:visited {
    color: #00f;
}

a:hover {
    color: #77f;
}

a:active {
    color: #77f;
}

ul {
    list-style-type: none;
    padding: 0px;
}

li {
    display: inline;
    padding-right: 10px;
}

.wikiBody {
    font-size: 90%;
    padding: 20px 20px 20px 20px;
}

.wikiBody pre {
    font-size: 125%;
}

.wikiPageData {
    font-size: 80%;
    font-style: italic;
}

.wikiHeader {
    font-size: 110%;
    margin-bottom: 5px;
}

.wikiFooter {
    font-size: 90%;
    margin-bottom: 5px;
}
