/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


body {
    font-family: "Verdana", Arial, serif;
}

a:link {
    color: #00f;
    text-decoration: none;
}

a:visited {
    color: #00f;
}

a:hover {
    color: #77f;
}

a:active {
    color: #77f;
}

.wikiBody {
    font-size: 90%;
    padding: 20px 20px 20px 20px;
}

.wikiBody pre {
    font-size: 125%;
}

.wikiPageData {
    font-size: 80%;
    font-style: italic;
}

.wikiHeader {
    font-size: 110%;
    margin-bottom: 5px;
}

.wikiFooter {
    font-size: 90%;
    margin-bottom: 5px;
}

.wikiFooter ul {
    list-style-type: none;
    padding: 0px;
}

.wikiFooter li {
    display: inline;
    padding-right: 10px;
}

.findInput {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.findInput div {
    float: left;
    text-align: left;
    padding: 20px;
}

.findForm {
    text-align: right;
}

.findDetails {
    text-align: left;
    font-size: 80%;
    padding-bottom: 10px;
}

.findDetails b {
    text-decoration: underline;
    font-weight: normal;
}

.findResults {
    text-align: center;
    width: 50%;
    margin: auto;
}

.findResults li {
    list-style-type: none;
    padding: 15px;
    float: left;
}
