// Place all the styles related to the Wiki controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    font-family: "Verdana", Arial, serif;
    background-color: #F8F8FF
}

.small {
    font-size: smaller
}

.smaller {
    font-size: x-small
}

.newheader {
    text-align: right
}

.pageheader {
    font-size: large;
    font-weight: bold;
    text-align: center
}

.grpheader {
    font-size: medium;
    text-align: center;
    background-color: #E8E8E8
}

a.dots:link {
    text-decoration: none
}

a.dots:visited {
    text-decoration: none
}

a.dots:hover {
    text-decoration: underline
}

.legenddt {
    font-style: italic
}

td {
    font-size: small
}

/* Wiki body text */
pre {
    font-size: 125%;
}

table {
    padding-left: 10px;
    width: 846px;
    margin: auto;
    background-color: #e8e8ef;
    box-shadow: 9px 9px 9px #eee;
}

#disqus_thread {
    padding: 10px;
    width: 846px;
    margin: auto;
    background-color: #fff;
    box-shadow: 9px 9px 9px #eee;
}
